universe = vanilla
environment = CLASSPATH=/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/stanford-parser.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/slf4j-api.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/:

Initialdir = /u/as1992/NLP/HW3/stanford-parser-full-2015-12-09
Executable = /usr/bin/java

+Group   = "GRAD"
+Project = "INSTRUCTIONAL"
+ProjectDescription = "CS388 Homework 3"



Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed1000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 1000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed1000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed1000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed2000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 2000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed2000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed2000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed3000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 3000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed3000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed3000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed4000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 4000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed4000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed4000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed5000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 5000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed5000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed5000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed7000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 7000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed7000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed7000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed10000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed10000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed10000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed13000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 13000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed13000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed13000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed17000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 17000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed17000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed17000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed21000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 21000 ../wsj_train/ 0 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed21000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed21000_indomain.err
Queue 1




Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed1000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 1000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed1000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed1000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed2000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 2000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed2000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed2000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed3000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 3000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed3000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed3000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed4000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 4000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed4000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed4000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed5000_outofdomainlog
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 5000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed5000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed5000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed7000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 7000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed7000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed7000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed10000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed10000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed10000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed13000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 13000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed13000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed13000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed17000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 17000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed17000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed17000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_seedvar_seed21000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 21000 ../wsj_train/ -1 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_seedvar_seed21000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part6_seedvar_seed21000_outofdomain.err
Queue 1




