universe = vanilla
environment = CLASSPATH=/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/stanford-parser.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/slf4j-api.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/:

Initialdir = /u/as1992/NLP/HW3/stanford-parser-full-2015-12-09
Executable = /usr/bin/java

+Group   = "GRAD"
+Project = "INSTRUCTIONAL"
+ProjectDescription = "CS388 Homework 3"



Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_1000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 1000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_1000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_1000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_2000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 2000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_2000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_2000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_3000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 3000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_3000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_3000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_4000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 4000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_4000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_4000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_5000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 5000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_5000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_5000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_7000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 7000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_7000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_7000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_10000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 10000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_10000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_10000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_13000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 13000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/ppart6_selftrvar_13000.out
Error  = /u/as1992/NLP/HW3/err/ppart6_selftrvar_13000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_16000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 16000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_16000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_16000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_20000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 20000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_20000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_20000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_25000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 25000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_25000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_25000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_30000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 30000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_30000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_30000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part6_selftrvar_35000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../brown_train/ 10000 ../wsj_train/ 35000 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part6_selftrvar_35000.out
Error  = /u/as1992/NLP/HW3/err/part6_selftrvar_35000.err
Queue 1