universe = vanilla
environment = CLASSPATH=/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/stanford-parser.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/slf4j-api.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/:

Initialdir = /u/as1992/NLP/HW3/stanford-parser-full-2015-12-09
Executable = /usr/bin/java

+Group   = "GRAD"
+Project = "INSTRUCTIONAL"
+ProjectDescription = "CS388 Homework 3"



Log = /u/as1992/NLP/HW3/logs/part5_1000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 1000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_1000.out
Error  = /u/as1992/NLP/HW3/err/part5_1000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_2000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 2000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_2000.out
Error  = /u/as1992/NLP/HW3/err/part5_2000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_3000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 3000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_3000.out
Error  = /u/as1992/NLP/HW3/err/part5_3000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_4000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 4000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_4000.out
Error  = /u/as1992/NLP/HW3/err/part5_4000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_5000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 5000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_5000.out
Error  = /u/as1992/NLP/HW3/err/part5_5000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_7000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 7000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_7000.out
Error  = /u/as1992/NLP/HW3/err/part5_7000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_10000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 10000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_10000.out
Error  = /u/as1992/NLP/HW3/err/part5_10000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_13000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 13000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/ppart5_13000.out
Error  = /u/as1992/NLP/HW3/err/ppart5_13000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_17000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 17000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_17000.out
Error  = /u/as1992/NLP/HW3/err/part5_17000.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part5_21000.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 21000 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part5_21000.out
Error  = /u/as1992/NLP/HW3/err/part5_21000.err
Queue 1