universe = vanilla
environment = CLASSPATH=/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/stanford-parser.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/slf4j-api.jar:/u/as1992/NLP/HW3/stanford-parser-full-2015-12-09/:

Initialdir = /u/as1992/NLP/HW3/stanford-parser-full-2015-12-09
Executable = /usr/bin/java

+Group   = "GRAD"
+Project = "INSTRUCTIONAL"
+ProjectDescription = "CS388 Homework 3"



Log = /u/as1992/NLP/HW3/logs/part4_seed1000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 1000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed1000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed1000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed2000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 2000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed2000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed2000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed3000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 3000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed3000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed3000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed4000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 4000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed4000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed4000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed5000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 5000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed5000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed5000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed7000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 7000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed7000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed7000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed10000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed10000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed10000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed13000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 13000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed13000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed13000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed16000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 16000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed16000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed16000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed20000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 20000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed20000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed20000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed25000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 25000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed25000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed25000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed30000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 30000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed30000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed30000_indomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed35000_indomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 35000 ../brown_train/ 0 ../wsj_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed35000_indomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed35000_indomain.err
Queue 1




Log = /u/as1992/NLP/HW3/logs/part4_seed1000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 1000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed1000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed1000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed2000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 2000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed2000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed2000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed3000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 3000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed3000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed3000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed4000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 4000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed4000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed4000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed5000_outofdomainlog
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 5000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed5000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed5000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed7000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 7000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed7000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed7000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed10000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 10000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed10000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed10000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed13000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 13000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed13000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed13000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed16000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 16000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed16000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed16000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed20000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 20000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed20000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed20000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed25000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 25000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed25000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed25000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed30000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 30000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed30000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed30000_outofdomain.err
Queue 1

Log = /u/as1992/NLP/HW3/logs/part4_seed35000_outofdomain.log
Notification = complete
Notify_user = abhishek.4096@gmail.com
Arguments = LexicalizedParserCommandLineInterface ../wsj_train/ 35000 ../brown_train/ -1 ../brown_test/ -1
Output = /u/as1992/NLP/HW3/out/part4_seed35000_outofdomain.out
Error  = /u/as1992/NLP/HW3/err/part4_seed35000_outofdomain.err
Queue 1




